.container {
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.text-img {
    max-height: 60vh;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(105%) contrast(104%);
    transition: all .2s ease-in-out;
    user-select: none;
}

.text-img:hover {
    scale: 1.5;
}

.switch-img {
    max-height: 60vh;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(105%) contrast(104%);
    transition: all .2s ease-in-out;
    user-select: none;
}

.switch-img:hover {
    scale: 1.5;
}

.pause-img {
    max-height: 50vh;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(105%) contrast(104%);
    transition: all .2s ease-in-out;
    user-select: none;
}

.pause-img:hover {
    scale: 1.5;
}

.delete-img {
    width: 45vh;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(105%) contrast(104%);
    transition: all .2s ease-in-out;
    user-select: none;
}

.delete-img:hover {
    scale: 1.5;
}

.speech-img {
    width: 50vh;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(105%) contrast(104%);
    transition: all .2s ease-in-out;
    user-select: none;
}

.speech-img:hover {
    scale: 1.5;
}

.menu-img {
    /* width: 80px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(105%) contrast(104%); */
    display: inline-block;
    width: 35px;
    height: 35px;
    transition: all .2s ease-in-out;
    user-select: none;
}

.menu-img:hover {
    scale: 1.5;
}

.bar1, .bar2, .bar3 {
    position: relative;
    width: 35px;
    height: 5px;
    border-radius: 2.5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

@font-face {
    font-family: 'Inter';
    src: url(./images/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: 700;
    font-style: normal;
}

.done {
    font-family: 'Inter';
    user-select: none;
    color: white;
    font-size: 30px;
    transition: all .2s ease-in-out;
}

.done:hover {
    scale: 1.5;
}

.text-div {
    order: 1;
}

.speech-div {
    order: 2;
}

.pause-div {
    order: 4;
}

.delete-div {
    order: 5;
}

.done-div {
    order: 6;
}

.switch-div {
    order: 7;
}

.line1 {
    border-left: 3px solid white;
    height: 80vh;
    left: 50%;
    order: 0;
}

.line2 {
    border-left: 3px solid white;
    height: 80vh;
    order: 3;
    left: 50%;
}